<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="hu.bme.incquery.deps.viewer.category"
            class="hu.bme.incquery.deps.ui.ModelViewer"
            id="hu.bme.incquery.deps.viewer.modelviewer"
            name="Workspace model"
            restorable="true">
      </view>
      <category
            id="hu.bme.incquery.deps.viewer.category"
            name="IncQuery Deps">
      </category>
      <view
            category="hu.bme.incquery.deps.viewer.category"
            class="hu.bme.incquery.deps.ui.result.IncqueryResultView"
            id="hu.bme.incquery.deps.ui.views.incqueryresultview"
            name="Dependencies">
      </view>
   </extension>
   
     <extension
         point="org.eclipse.ui.popupMenus">
          <objectContribution
            adaptable="false"
            id="cern.devtools.depanalysis.modelfinder.objectContribution2"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <action
               class="hu.bme.incquery.deps.ui.EnableTracingOnProjectAction"
               id="hu.bme.incquery.deps.ui.actions.enabletracing"
               label="Toggle Dependency Analysis"
               menubarPath="additions">
         </action>
      </objectContribution>
         </extension>
         
         <extension
         id="generated.incquery.command.cern.devtools.deps.query.cp1.addedMethodsCommand"
         point="org.eclipse.ui.commands">
      <command
            name="Get All Matches for cern.devtools.deps.query.cp1.addedMethods"
            categoryId="org.eclipse.viatra2.emf.incquery.tooling.category"
            id="cern.devtools.deps.query.cp1.addedMethodsCommandId">
      </command>
   </extension>
   <extension
         id="generated.incquery.handler.cern.devtools.deps.query.cp1.addedMethodsHandler"
         point="org.eclipse.ui.handlers">
      <handler
            commandId="cern.devtools.deps.query.cp1.addedMethodsCommandId"
            class="cern.devtools.deps.query.cp1.addedmethods.handlers.AddedMethodsHandler">
      </handler>
   </extension>
   <extension
         id="generated.incquery.menu.cern.devtools.deps.query.cp1.addedMethodsMenuContribution"
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               label="EMF-IncQuery">
            <command
                  commandId="cern.devtools.deps.query.cp1.addedMethodsCommandId"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <test
                                 value="*.wsmodel"
                                 property="org.eclipse.core.resources.name">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>


      

         
</plugin>
