<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="cern.devtools.deps.query.cp1.projectsWithSameName"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp1.projectswithsamename.ProjectsWithSameNameMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp1.projectsWithSameName">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp1.typesInWsProject"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp1.typesinwsproject.TypesInWsProjectMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp1.typesInWsProject">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp1.methodsInWsType"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp1.methodsinwstype.MethodsInWsTypeMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp1.methodsInWsType">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp1.fieldsInWsType"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp1.fieldsinwstype.FieldsInWsTypeMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp1.fieldsInWsType">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp1.addedClasses"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp1.addedclasses.AddedClassesMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp1.addedClasses">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp1.removedClassesFromProject"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp1.removedclassesfromproject.RemovedClassesFromProjectMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp1.removedClassesFromProject">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp1.classesWithSameFQNAndSameProject"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp1.classeswithsamefqnandsameproject.ClassesWithSameFQNAndSameProjectMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp1.classesWithSameFQNAndSameProject">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp1.methodsWithSameSignatureAndSameProject"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp1.methodswithsamesignatureandsameproject.MethodsWithSameSignatureAndSameProjectMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp1.methodsWithSameSignatureAndSameProject">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp1.fieldsWithSameSignatureAndSameProject"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp1.fieldswithsamesignatureandsameproject.FieldsWithSameSignatureAndSameProjectMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp1.fieldsWithSameSignatureAndSameProject">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp1.incomingInheritances"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp1.incominginheritances.IncomingInheritancesMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp1.incomingInheritances">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp1.incomingClassUsages"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp1.incomingclassusages.IncomingClassUsagesMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp1.incomingClassUsages">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp1.incomingMethodCalls"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp1.incomingmethodcalls.IncomingMethodCallsMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp1.incomingMethodCalls">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp1.incomingMethodOverrides"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp1.incomingmethodoverrides.IncomingMethodOverridesMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp1.incomingMethodOverrides">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp1.incomingFieldAccesses"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp1.incomingfieldaccesses.IncomingFieldAccessesMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp1.incomingFieldAccesses">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp1.removedClasses"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp1.removedclasses.RemovedClassesMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp1.removedClasses">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp1.addedMethods"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp1.addedmethods.AddedMethodsMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp1.addedMethods">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp1.removedMethod"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp1.removedmethod.RemovedMethodMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp1.removedMethod">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp1.addedFields"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp1.addedfields.AddedFieldsMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp1.addedFields">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp1.removedFields"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp1.removedfields.RemovedFieldsMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp1.removedFields">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp1.impactCausedByRemovedFields"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp1.impactcausedbyremovedfields.ImpactCausedByRemovedFieldsMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp1.impactCausedByRemovedFields">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp1.impactCausedByRemovedMethods"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp1.impactcausedbyremovedmethods.ImpactCausedByRemovedMethodsMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp1.impactCausedByRemovedMethods">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp1.impactCausedByRemovedClasses"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp1.impactcausedbyremovedclasses.ImpactCausedByRemovedClassesMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp1.impactCausedByRemovedClasses">
      </matcher>
   </extension>

</plugin>
