<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="cern.devtools.deps.query.marker.removedMethod"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="cern.devtools.deps.query.marker.removedMethod"
            factoryProvider="cern.devtools.deps.query.marker.removedmethod.RemovedMethodMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.marker.incomingInheritances"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="cern.devtools.deps.query.marker.incomingInheritances"
            factoryProvider="cern.devtools.deps.query.marker.incominginheritances.IncomingInheritancesMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.marker.incomingInheritances"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="cern.devtools.deps.query.marker.incominginheritances.IncomingInheritancesEvaluator1_1"
            id="cern.devtools.deps.query.marker.incomingInheritances_1_1">
      </evaluator>
   </extension>
   <extension
         id="cern.devtools.deps.query.marker.incompatibleSuperClassesChanges"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="cern.devtools.deps.query.marker.incompatibleSuperClassesChanges"
            factoryProvider="cern.devtools.deps.query.marker.incompatiblesuperclasseschanges.IncompatibleSuperClassesChangesMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.marker.incompatibleSuperClassesChanges"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="cern.devtools.deps.query.marker.incompatiblesuperclasseschanges.IncompatibleSuperClassesChangesEvaluator1_1"
            id="cern.devtools.deps.query.marker.incompatibleSuperClassesChanges_1_1">
      </evaluator>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.addedClasses"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp3.addedclasses.AddedClassesMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp3.addedClasses">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.removedClasses"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp3.removedclasses.RemovedClassesMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp3.removedClasses">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.addedMethods"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp3.addedmethods.AddedMethodsMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp3.addedMethods">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.removedMethod"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp3.removedmethod.RemovedMethodMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp3.removedMethod">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.removedMethod2"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp3.removedmethod2.RemovedMethod2MatcherFactory$Provider"
            id="cern.devtools.deps.query.cp3.removedMethod2">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.addedFields"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp3.addedfields.AddedFieldsMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp3.addedFields">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.removedFields"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp3.removedfields.RemovedFieldsMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp3.removedFields">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.incomingInheritances"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp3.incominginheritances.IncomingInheritancesMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp3.incomingInheritances">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.incomingInheritances"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="cern.devtools.deps.query.cp3.incominginheritances.IncomingInheritancesEvaluator1_1"
            id="cern.devtools.deps.query.cp3.incomingInheritances_1_1">
      </evaluator>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.incomingClassUsages"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp3.incomingclassusages.IncomingClassUsagesMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp3.incomingClassUsages">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.incomingClassUsages"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="cern.devtools.deps.query.cp3.incomingclassusages.IncomingClassUsagesEvaluator1_1"
            id="cern.devtools.deps.query.cp3.incomingClassUsages_1_1">
      </evaluator>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.incomingMethodCalls"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp3.incomingmethodcalls.IncomingMethodCallsMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp3.incomingMethodCalls">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.incomingMethodCalls"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="cern.devtools.deps.query.cp3.incomingmethodcalls.IncomingMethodCallsEvaluator1_1"
            id="cern.devtools.deps.query.cp3.incomingMethodCalls_1_1">
      </evaluator>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.incomingMethodOverride"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp3.incomingmethodoverride.IncomingMethodOverrideMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp3.incomingMethodOverride">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.incomingMethodOverride"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="cern.devtools.deps.query.cp3.incomingmethodoverride.IncomingMethodOverrideEvaluator1_1"
            id="cern.devtools.deps.query.cp3.incomingMethodOverride_1_1">
      </evaluator>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.incomingFieldAccesses"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp3.incomingfieldaccesses.IncomingFieldAccessesMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp3.incomingFieldAccesses">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.incomingFieldAccesses"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="cern.devtools.deps.query.cp3.incomingfieldaccesses.IncomingFieldAccessesEvaluator1_1"
            id="cern.devtools.deps.query.cp3.incomingFieldAccesses_1_1">
      </evaluator>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.impactCausedByRemovedFields"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp3.impactcausedbyremovedfields.ImpactCausedByRemovedFieldsMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp3.impactCausedByRemovedFields">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.impactCausedByRemovedFields"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="cern.devtools.deps.query.cp3.impactcausedbyremovedfields.ImpactCausedByRemovedFieldsEvaluator1_1"
            id="cern.devtools.deps.query.cp3.impactCausedByRemovedFields_1_1">
      </evaluator>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.impactCausedByRemovedMethods"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp3.impactcausedbyremovedmethods.ImpactCausedByRemovedMethodsMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp3.impactCausedByRemovedMethods">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.impactCausedByRemovedMethods"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="cern.devtools.deps.query.cp3.impactcausedbyremovedmethods.ImpactCausedByRemovedMethodsEvaluator1_1"
            id="cern.devtools.deps.query.cp3.impactCausedByRemovedMethods_1_1">
      </evaluator>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.impactCausedByRemovedMethods"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="cern.devtools.deps.query.cp3.impactcausedbyremovedmethods.ImpactCausedByRemovedMethodsEvaluator2_1"
            id="cern.devtools.deps.query.cp3.impactCausedByRemovedMethods_2_1">
      </evaluator>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.impactCausedByRemovedClasses"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp3.impactcausedbyremovedclasses.ImpactCausedByRemovedClassesMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp3.impactCausedByRemovedClasses">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.impactCausedByRemovedClasses"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="cern.devtools.deps.query.cp3.impactcausedbyremovedclasses.ImpactCausedByRemovedClassesEvaluator1_1"
            id="cern.devtools.deps.query.cp3.impactCausedByRemovedClasses_1_1">
      </evaluator>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.impactCausedByRemovedClasses"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="cern.devtools.deps.query.cp3.impactcausedbyremovedclasses.ImpactCausedByRemovedClassesEvaluator2_1"
            id="cern.devtools.deps.query.cp3.impactCausedByRemovedClasses_2_1">
      </evaluator>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.incompatibleSuperClassesChanges"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="cern.devtools.deps.query.cp3.incompatiblesuperclasseschanges.IncompatibleSuperClassesChangesMatcherFactory$Provider"
            id="cern.devtools.deps.query.cp3.incompatibleSuperClassesChanges">
      </matcher>
   </extension>
   <extension
         id="cern.devtools.deps.query.cp3.incompatibleSuperClassesChanges"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="cern.devtools.deps.query.cp3.incompatiblesuperclasseschanges.IncompatibleSuperClassesChangesEvaluator1_1"
            id="cern.devtools.deps.query.cp3.incompatibleSuperClassesChanges_1_1">
      </evaluator>
   </extension>

</plugin>
