**/bin/**/*
**/src-gen/**/*
incquery-deps-transformer/models/commonbuild-full-pro.cp1model
incquery-deps-transformer/models/commonbuild-full-pro.repomodel
incquery-deps-documentation/*.thm
incquery-deps-documentation/pdf/*.gz
incquery-deps-documentation/tmp/*.aux
incquery-deps-documentation/tmp/*.log
incquery-deps-documentation/tmp/*.out
incquery-deps-documentation/tmp/*.thm
incquery-deps-documentation/tmp/*.toc
incquery-deps-documentation/tmp/*.bbl
incquery-deps-documentation/tmp/*.blg
incquery-deps-documentation/**/*.~vsd