<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="cern.devtools.depanalysis.modelfinder.ModelViewer"
            id="cern.devtools.depanalysis.modelfinder.ModelViewer"
            name="Workspace EMF model"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cern.devtools.depanalysis.javamodel.presentation.JavaModelEditor"
            contributorClass="cern.devtools.depanalysis.javamodel.presentation.JavaModelActionBarContributor"
            default="false"
            extensions="javamodel"
            icon="icons/full/obj16/JavaModelModelFile.gif"
            id="cern.devtools.depanalysis.modelfinder.viewer.editor"
            name="JavaModel Editor">
      </editor>
   </extension>

</plugin>
