<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="hu.bme.incquery.deps.viewer.category"
            class="hu.bme.incquery.deps.ui.ModelViewer"
            id="hu.bme.incquery.deps.viewer.modelviewer"
            name="Workspace model"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="incquery-deps-wsmodel-ui.objectContribution1"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <action
               class="hu.bme.incquery.deps.ui.EnableTracingOnProjectAction"
               id="hu.bme.incquery.deps.ui.actions.enabletracing"
               label="Toggle Dependency Analysis"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup></startup>
   </extension>

</plugin>
