<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://inf.mit.bme.hu/donat/incquery-deps/cp3model"
            class="hu.bme.incquery.deps.cp3model.Cp3modelPackage"
            genModel="metamodel/cp3model.genmodel"/>
   </extension>

</plugin>
