<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="modelfinder.incquery.cern.devtools.deps.query.joinProject"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="cern.devtools.deps.query.joinProject"
            factoryProvider="cern.devtools.deps.query.joinproject.JoinProjectMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="modelfinder.incquery.cern.devtools.deps.query.joinClass"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="cern.devtools.deps.query.joinClass"
            factoryProvider="cern.devtools.deps.query.joinclass.JoinClassMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="modelfinder.incquery.cern.devtools.deps.query.joinMethod"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="cern.devtools.deps.query.joinMethod"
            factoryProvider="cern.devtools.deps.query.joinmethod.JoinMethodMatcherFactory$Provider">
      </matcher>
   </extension>

</plugin>
