<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="cern.devtools.depanalysis.modelfinder.Startup">
      </startup>
   </extension>

<extension
         id="testmarker"
         name="jdt-test-problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            markerType="org.eclipse.jdt.core.problem"
            class="org.eclipse.jdt.ui.examples.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.ICompilationUnit"
            id="org.eclipse.jdt.ui.examples.AddTestMarkersAction">
         <action
               label="_ADD MARKERS_"
               tooltip="tooltip"
               class="org.eclipse.jdt.ui.examples.AddTestMarkersAction"
               menubarPath="AddTestMarkers"
               enablesFor="1"
               id="addTestmarkers">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="cern.devtools.depanalysis.modelfinder.objectContribution2"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <action
               class="cern.devtools.depanalysis.modelfinder.EnableTracingOnProjectAction"
               id="cern.devtools.depanalysis.modelfinder.action3"
               label="Toggle Dependency Analysis"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="cern.devtools.depanalysis.javamodel.JavaModelPackage"
            genModel="metamodel/simplified_java.genmodel"
            uri="http://simplified_java/1.0">
      </package>
   </extension>
</plugin>
